aside{
    display: none !important;
}

.r-g2wdr4 {
    display: none !important;
}

div.css-1dbjc4n.r-1niwhzg.r-1kqtdi0.r-1867qdf.r-1phboty.r-1yadl64.r-1ifxtd0.r-1udh08x{
    display: none !important;
}